    /* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


    /* HEADER */

.header-container {
    background-color: #ADD8E6;
    min-height: 400px;
    padding-top: 20px;
}

.header-nav {
    width: 50%;
    margin: 0 auto;
    background-color: #DAA520;
    display: flex;
    margin-bottom: 20px;
}

.login, .logo {
    border: 2px dashed black;
    width: 25%;
    padding: 5px;
}

.login {
    display: flex;
    justify-content: flex-end;
}

.nav-links {
    border: 2px dashed black;
    width: 75%;
    padding: 5px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

header .nav-links a {
    text-decoration: none;
    color: black;
}

.header-content {
    min-height: 325px;
    background-color: #00008B;
    width: 100%;
    padding-top: 35px;
}

.header-main {
    width: 600px;
    height: 250px;
    background-color:#EE82EE;
    margin: 0 auto;
    border: 2px dashed black;
}

    /* MAIN */


    /* SECTION 1 */

.section-container1 {
    padding-bottom: 25px;
}

.container1 {
    width: 800px;
    margin: 0 auto;
    display: flex;
    padding-top: 25px;
}

.container1 div:first-of-type {
    width: 60%;
    min-height: 350px;
    background-color: #1E90FF;
    border: 2px dashed black;
}

.container1 div:last-child {
    width: 40%;
    min-height: 350px;
    background-color: #FFC0CB;
    border: 2px dashed black;
}

    /* SECTION 2 */

.section-container2 {
    background-color: #D3D3D3;
    padding-bottom: 25px;
}

.container2 {
    width: 800px;
    margin: 0 auto;
    display: flex;
    padding-top: 25px;
}

.container2 div:first-of-type {
    width: 40%;
    min-height: 350px;
    background-color: #FFC0CB;
    border: 2px dashed black;
}

.container2 div:last-child {
    width: 60%;
    min-height: 350px;
    background-color: #1E90FF;
    border: 2px dashed black;
}

    /* SECTION 3 */

.section-container3 {
    background-color: #D3D3D3;
    padding-top: 25px;
    padding-bottom: 25px;
    }

.container3 {
    width: 800px;
    min-height: 600px;
    margin: 0 auto;
    background-color: #228B22;
    border: 2px dashed black;
}


    /* FOOTER PARTE 1 */

footer {
    background-color: #23272A;
    padding-top: 10px;
}

.footer-container {
    display: flex;
    width: 800px;
    height: 400px;
    margin: 0 auto;
}

.footer1 {
    display: flex;
    width: 30%;
    background-color: #F08080;
    border: 2px dashed black;
}

.footer2 {
    display: flex;
    width: 70%;
    border: 2px dashed black;
}

.footer2-1 {
    background-color: #20B2AA;
    width: 25%;
    border: 2px dashed white;
}

.footer2-2 {
    background-color: #20B2AA;
    width: 25%;
    border: 2px dashed white;
}

.footer2-3 {
    background-color: #20B2AA;
    width: 25%;
    border: 2px dashed white;
}

.footer2-4 {
    background-color: #20B2AA;
    width: 25%;
    border: 2px dashed white;
}

 
    /* LINEA HR */

hr {
    margin: 20px 0px 0px 0px;
}    

    /* FOOTER PARTE 2 */


.footer-container2 {
    display: flex;
    width: 800px;
    height: 60px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: #7FFFD4;
    justify-content: space-between;
    align-items: center;
}   

.footer-logo {
    border: 2px dashed black;
    background-color: #FFC0CB;
    padding: 3px 10px 3px 10px;
}

.footer-bottone {
    border: 2px dashed black;
    background-color: #FFC0CB;
    padding: 3px 10px 3px 10px;
}






    





